# This is domain name where your traefik instance will be visible (should be your domain that points to VPS)
SERVICE_DOMAIN=here.your.domain.for.traefik.dashboard

# This is email You will get notification from Let's Encrypt if for any reason your certs are not autorenewed
ACME_NOTIFICATION_MAIL=your@email.com

# Your BasicAuth access credentials for traefik dashboard
# Those are set here to default traefik // dashboard123
# But you should change it to some secure credentials with high entropy pass (like generated with KeePass)
# You can generate it with htpasswd or openssl passwd -apr1 (google basic auth htpasswd).
TRAEFIK_CREDENTIALS=traefik:$$apr1$$fundOykG$$XRR82kZ7sKiL4IIK5.XN9.
